.site-header {
  grid-area: header;
}

.site-navigation {
  grid-area: nav;
  justify-self: stretch;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.site-content {
  grid-area: main;
}

.site-footer {
  grid-area: footer;
}
